/* Tô màu cả dòng có điểm số cao (Nguy hiểm) */
.row-anomaly-high {
  background-color: #ffebee !important; /* Đỏ nhạt */
  transition: background-color 0.3s;
}

.row-anomaly-high:hover {
  background-color: #ffcdd2 !important; /* Đỏ đậm hơn khi hover */
}

/* Tô màu cả dòng có điểm số thấp (An toàn) */
.row-anomaly-low {
  background-color: #f1f8e9 !important; /* Xanh lá nhạt */
}

.row-anomaly-low:hover {
  background-color: #dcedc8 !important;
}